# 14. Lists

# 14.1 How to create a List

In [1]:
blankList = []                                           # Declare an empty List

listofstring = ['mango','orange']                        # List of strings

listofNumbers = [11,2.5,40,54]                           # List of integers

listofList = [[14,3.2],[13,4.2]]                         # List of list

listofMixedDatatypes = [44.4, 'Bill', 123, 33.2]         # List of diff datatype

print(listofList)

[[14, 3.2], [13, 4.2]]

# 14.2 Finding the Length of the List

In [49]:
lstofMixedDataTypes = [44.4, 'Bill', 123, 33.2]  

print(len(listofMixedDatatypes))                         # Use the len function

5

## 14.3 Add an element to the end of the List - Append

In [19]:
listofNumbers = [11,2.5,40,54]                    

listofNumbers.append('Appended Element')                # Append function will add the item ath the end

print(listofNumbers)

[11, 2.5, 40, 54, 'Appended Element']

# 14.4  Insert an element at a particular position in the List

In [52]:
lstofMixedDatatypes = [44.4, 'Bill', 123, 33.2]  

listofMixedDatatypes.insert(7,'Sale')                     # Will add 'Sale' at location 2

print(listofMixedDatatypes)                               # Use the insert() method

[44.4, 'Bill', 123, 33.2, [11, 2.5, 40, 54], 'Sale', 'Sale', 'Sale']

# 14.5 Remove an item from the List

In [55]:
lstofMixedDataTypes = [44.4, 'Bill', 123, 33.2, 123]  

lstofMixedDataTypes.remove(123)                          # remove()- removes the first occurence of 123 on the list

print(listofMixedDatatypes)

[44.4, 'Bill', 123, 33.2, [11, 2.5, 40, 54], 'Sale', 'Sale', 'Sale']

# 14.10 Sorting a list

In [2]:
myList = [29, 12, 4, 7, 12]

sorted_list = sorted(myList)

#lstofMixedDataTypes = [44.4, 'Bill', 123, 33.2]  # sort only compatible types

#sorted_lst = sorted(lstofMixedDataTypes)

print(sorted_list)

print(myList)                                     # Original list is unchanged

[4, 7, 12, 12, 29]
[29, 12, 4, 7, 12]

In [105]:
print("Reverse sorted list :", sorted(myList,reverse=True))   # Reverse sort a list

print(myList)                                                 # the original list remains

Reverse sorted list : [29, 12, 12, 7, 4]
[29, 12, 4, 7, 12]

In [107]:
myList = [29, 12, 4, 7, 12]                  # Reverse and change the original list

myList.sort()

print(myList)

[4, 7, 12, 12, 29]

# 14.11 Multiple References to a List

In [111]:
myList = [5,6,7,8,9]

newRef = myList

newRef.append(10)

print('original list:', myList)

original list: [5, 6, 7, 8, 9, 10]

# 14.12 Split a String to create a list

In [117]:
myString = "mango,orange,apple"

splitList = myString.split(',')

print(splitList)

['mango', 'orange', 'apple']

In [120]:
myString = "Let us split this string"

splitList = myString.split()                  # By default split is on - space or tab

print(splitList)

['Let', 'us', 'split', 'this', 'string']

# 14.13 Indexing in a List

In [122]:
myList = [10, 25, 8, 9, 85]

print(myList[0])                            # Access the first element fromstart

print(myList[-1])                           # Access the element from the last

10
85

# 14.14 List Slicing

Accessing parts of segments is called slicing. 

Slicing is done using colon (**:**) symbol

Start index:End Index

Value at start index is included but not the value at end index.

In [124]:
listofItems = [12, 3, 'Fifty', 21, 'Five', 45, 200]

print(listofItems[:])                      # Empty indicatesfrom start : to end
 
print(listofItems[0:3])                   # Elemenets from index 0 to one index less than index 3

[12, 3, 'Fifty', 21, 'Five', 45, 200]
[12, 3, 'Fifty']

In [237]:
print (listOfItems)

print(listOfItems[::2])                                  # Stride for skipping elements

print(listOfItems[2::2])                                 # print elemnts start from 0 through rest of the list

[43, 2, 'Hundred', 13, 'Four', 12, 100]
[43, 'Hundred', 'Four', 100]
['Hundred', 'Four', 100]

# 14.15 Extend a List using "+"

In [129]:
listofItems1 = [12, 3, 'Fifty', 21, 'Five', 45, 200]

listofItems2 = [ 'Mahesh', 14, 'one', 95]

joinedList = listofItems1 + listofItems2

print(joinedList)

[12, 3, 'Fifty', 21, 'Five', 45, 200, 'Mahesh', 14, 'one', 95]

# 14.16 Count an item in a List

In [132]:
listofItems3 = [12, 3, 'Fifty', 21, 'Five', 45, 200]

print(listofItems3.count(12))              # Count number of 12 in yhe list

print(listofItems3.count('Fifty'))         # count number of 'Fifty' in a list

1
1

# 14.17 Looping in List

In [137]:
listofItems3 = [12, 3, 'Fifty', 21, 'Five', 45, 200]

for element in listofItems3:
    print(element)

12
3
Fifty
21
Five
45
200

# 14.18 List Comprehensions

In [5]:
myList = []                                # Normal way to create an empty List

for i in range(2):                         # Append the squared element to the list
    myList.append(i**4)

    print(myList)

[0, 1]

In [11]:
# Simlify using list comprehension

myList = [i**4 for i in range(6)]

print(myList)

[0, 1, 16, 81, 256, 625]

# 14.19 Nested List Comprehensions

In [18]:
matrix = [[1, 2, 3],
          [1, 2, 3],
          [1, 2, 3],
          [1, 2, 3]]

sameList = []                              # Recreate the above matrix in the normal way
for i in range(4):
    rowList = []
    for j in range(3):
        rowList.append(j)
    sameList.append(rowList)

print(sameList)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [15]:
myMatrix = []

[myMatrix.append([j for j in range(3)]) for i in range(4)]       # Reconstruct the matrix using list comprehension

print(myMatrix)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

# Excercise: Perform the below list operations

In [17]:
myList = [2, 4, 6, 8, 10, 11, 13]

newList = [i**2 for i in myList]                                    # Square the values of myList and store in a new list
print(newList)

newList = [(i,i) for i in myList]                                   # Make a combination of x and x values e.g. (x,x)
print(newList)

newList = [even for even in myList if even%2 == 0 and even != 2]     # Store only the even numbers greater than 2
print(newList)

newList = []
[newList.append([(i+j)/2 for j in range(0,3)]) for i in range(1,10,3)]    # Create a 3*3 matrix that stores half of number from 1 to 9

print(newList)

[4, 16, 36, 64, 100, 121, 169]
[(2, 2), (4, 4), (6, 6), (8, 8), (10, 10), (11, 11), (13, 13)]
[4, 6, 8, 10]
[[0.5, 1.0, 1.5], [2.0, 2.5, 3.0], [3.5, 4.0, 4.5]]

# 15. Tuples

A tuple is very similar to a list

But tuples are immutable i.e. we can't change the elements of tuple once it is assigned <br/>
whereas in a list, elements can be changed

# 15.1 Creating a Tuple

In [1]:
emptyTuple = ()                                         # Create an empty tuple

myNmberTuple = (12.2, 100, 12)                          # Create a tuple having numbers
print(myNumberTuple)

myMixedTuple = ('x', 'y', 100, 'h')                     # Create a mixed data types tuple
print(myMixedTuple)

myNestedTuple = ('Hello', 100, ('Welcome', 12, 11), [90,'same',26,'array'])     # Create a nested tuple
print(myNestedTuple)

NameError: name 'myNumberTuple' is not defined

In [25]:
isItTuple = ('Mahesh')                                 # Only parenthesis is not enough

print(type(isItTuple))

<class 'str'>

In [26]:
isItTuple = ('Mahesh',)                               # Put a comma at the end to denote Tuple

print(type(isItTuple))

<class 'tuple'>

In [28]:
isItTuple = 'Mahesh',                                # Parenthesis is optional

print(type(isItTuple))

print(isItTuple)

<class 'tuple'>
('Mahesh',)

# Accessing Elements in Tuple

In [29]:
myTuple = ('Amol', 'Ganesh', 'Rakesk', 'Mahesh')

print(myTuple[3])

Mahesh

In [30]:
print(myTuple[-1])                                     # Printing the last element in a tuple - Negative index

Mahesh

In [32]:
myTuple = ('Amol', ('Ganesh', 'Rakesh', 'Mahesh'))     # Nested tuple

print(myTuple[1])

('Ganesh', 'Rakesh', 'Mahesh')

In [33]:
print(myTuple[1][2])

Mahesh

In [34]:
myTuple = (20, 21, 22, 23, 24, 25)

print(myTuple[2:5])                                     # Slicing elements

print(myTuple[-3:])                                     # Print elements from starting to 3rd last elements

print(myTuple[:])                                       # Print all elements

(22, 23, 24)
(23, 24, 25)
(20, 21, 22, 23, 24, 25)

# Altering the values in a Tuple

Tuples are immutable i.e. once set their values cannot be changed
But, if the element is itself a mutable datatype like list, its nested items can be changed.

# Deleting from a tuple

In [37]:
# Since tuple is immutable hence the entire tuple needs to be deleted using del keyword

myTuple = (3, 'Suchit', 45, 11, 'tree', 34)

del myTuple                                            # Delete the entire tuple

# Count occurance of an item in Tuple

In [43]:
myTuple = ('Mahesh', 144, 'Mahesh', 42, 'Mahesh', 8, 31, 2)

myTuple.count('Mahesh')                                # Frequency of particular element in a tuple

3

# Tuple Index - Get the index position of an item

In [46]:
myTuple = ('Mahesh', 144, 'Mahesh', 42, 'Mahesh', 8, 31, 2)

print(myTuple.index(31))                              # Returns index of the first element equal to 11
 
print(myTuple[6])                                     # Print element at index 6

6
31

# Memebership in Tuple

In [49]:
myTuple = ('Mahesh', 144, 'Mahesh', 42, 'Mahesh', 8, 31, 2)

print(144 in myTuple)                                  # Check if an item exists in a tuple

True

In [50]:
print('Sam' in myTuple)

False

Apply common built-in Functions on Tuple

# Lenght of a Tuple

In [52]:
myTuple = ('Mahesh', 144, 'Mahesh', 42, 'Mahesh', 8, 31, 2)

print(len(myTuple))

8

# Sorting in Tuple

In [56]:
#myTuple = ('Mahesh', 144, 'Mahesh', 42, 'Mahesh', 8, 31, 2)

myTuple = (22,3,74,145,0.2,13)

print(myTuple)

sortedTuple = sorted(myTuple)                       # Returns a new sorted list. Does not change original tuple

print(sortedTuple)

(22, 3, 74, 145, 0.2, 13)
[0.2, 3, 13, 22, 74, 145]

In [57]:
myNumberTuple = (22,3,74,145,0.2,13)

print(max(myNumberTuple))                           # Largest element in a tuple

print(min(myNumberTuple))                           # Smallest element in a tuple

145
0.2

In [58]:
print(sum(myNumberTuple))                           # Sum of elments in the tuple

257.2

# 16. Sets

<ul><li>A set is an <b>unordered</b> collection of items. Every element is <b>unique</b> (no duplicates).</li>
<li>Set is <b>mutable</b>. We can add or remove items to a Set.</li>
<li>Sets can be used to perform mathematical <b>set operations</b> <i>like union, intersection, symmetric difference etc</i>.</li></ul>

# Creating a Set

In [59]:
mySet = {4,5,6}                                   # Curly braces and comma seperated values 

print(mySet)
 
print(type(mySet))                               # type of mySet

{4, 5, 6}
<class 'set'>

In [61]:
mySet = {4,5,6,4,5}                              # Duplicates not allowed.
        
print(mySet)

{4, 5, 6}

In [79]:
mySet = set([4, 5, 6 ,7, 1])                    # We can make set from a list using set() method

print(mySet)

{1, 4, 5, 6, 7}

In [80]:
mySet = set()                                   # Initialize a set  with set() method

print(type(mySet))

<class 'set'>

### Adding element to Set

In [68]:
mySet = {'a', 25}

mySet.add(5)                                    # Add single element using add() method

print(mySet)

mySet.update([2,'r',22])                       # Add multiple elements using update() method

print(mySet)

{25, 5, 'a'}
{2, 5, 'r', 'a', 22, 25}

In [72]:
mySet.update([2,'One'],{24,11,5})             # Adding a list and a set to the original set

print(mySet)

{1, 2, 4, 5, 'One', 11, 12, 'r', 'a', 22, 24, 25}

### Removing elements from a Set

Methods

- remove()    &nbsp;                     -Raises KeyError if  elem is not contained in the set.
- discard()     &nbsp;                     -Doesn't raises KeyError
<br/><br/>
- pop()        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                     -Removes a random item
- clear()      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                     -Delete the entire Set

In [75]:
mySet = {31, 32, 33, 34, 35}
print(mySet)

mySet.remove(33)                            # 33 is removed from set mySet
print(mySet)


mySet.discard(34)                           # 34 is removed from set mySet
print(mySet)

{32, 33, 34, 35, 31}
{32, 34, 35, 31}
{32, 35, 31}

In [76]:
mySet.discard(34)                          # KeyError NOT thrown
  
print(mySet)

{32, 35, 31}

In [78]:
mySet = {'Mahesh', 42, 'Mango', 1, 71}

mySet.pop()                               # Removes a random element
 
print(mySet)

{71, 42, 'Mahesh', 'Mango'}

In [87]:
mySet = {'Mahesh', 42, 'Mango', 1, 71}

mySet.clear()                            # Empty all items in

print(mySet)

set()

### Python Set Operations

Operations:

- union

- intersection

- symmetric difference

- subset


<img height="240" width="360" src='https://github.com/suchitmajumdar/LearnPython/blob/master/images/set.png?raw=true'></img>

In [89]:
mySet1 = {5, 6, 7, 8, 9}

mySet2 = {21, 22, 23, 24, 25}

print(mySet1 | mySet2)                 # union of 2 sets using | operator

print(mySet1.union(mySet2))            # Alternately use union() method

{5, 6, 7, 8, 9, 21, 22, 23, 24, 25}
{5, 6, 7, 8, 9, 21, 22, 23, 24, 25}

In [91]:
print(mySet1 & mySet2)                # Intersection of 2 sets using & operator

print(mySet1.intersection(mySet2))    # Alternately use intersection() method

set()
set()

In [94]:
print(mySet1 - mySet2)               # set Difference: set of elements that are only in mySet1 but not in mySet2

print(mySet1.difference(mySet2))     # use differnce() function method

{5, 6, 7, 8, 9}
{5, 6, 7, 8, 9}

In [95]:
# symmetric difference: set of elements in both mySet1 and mySet2
# except those that are common in both."""

print(mySet1^mySet2)                                             # For symmetric difference use ^ operator
 
print(mySet1.symmetric_difference(mySet2))                       # Alternately use symmetric_difference function

{5, 6, 7, 8, 9, 21, 22, 23, 24, 25}
{5, 6, 7, 8, 9, 21, 22, 23, 24, 25}

In [98]:
a = {11,12,13,14,15,16}

b = {12,14}

print("Is set 'a' a subset of set 'b' ? ", a.issubset(b))         # Check a is subset of b

print("Is set 'b' a subset of set 'a' ? ", b.issubset(a))         # Check b is subset of a

Is set 'a' a subset of set 'b' ?  False
Is set 'b' a subset of set 'a' ?  True

### Frozen Sets

Like tuples are immutable lists, <b>frozen sets</b> are <b>immutable sets</b>

Frozensets can be created using - <b>frozenset()</b>

In [101]:
print(mySet1 | mySet2)                       # union of 2 sets

frozenset({1, 2, 3, 4, 5, 6, 7, 8})

In [102]:
print(mySet1 & mySet2)                       # intersection of two sets

print(mySet1.intersection(mySet2))           # Alernative is to use intersection() method

frozenset({4, 5})
frozenset({4, 5})

In [138]:
print(mySet1 ^ mySet2)                        # symmetric difference

print(mySet1.symmetric_difference(mySet2))    # Alternative is symmetric_difference() method

frozenset({1, 2, 3, 6, 7, 8})
frozenset({1, 2, 3, 6, 7, 8})

# 17. Dictionary

Python dictionary is an unordered collection of items.<br/>
While other compound data types have <b>only value</b> as an element, a <u>dictionary</u> has a <b>key: value</b> pair.

# Create a Dictionary

In [109]:
myDict = {}                                                  # Create an empty dictionary

myIntegerKeyDict = {200:'excellent',50:'fair'}

print(myIntegerKeyDict)
 
myMixedKeysDict = {'name':'Mahesh', 50:['sun','Moon']}       # Create a dictionary with mixed keys

print(myMixedKeysDict)


myDict = dict()                                              # Create an empty dictionary using dict() method

myDict = dict([(5,'abcd'),(8,'ab')])                         # Create a dict with list of tuples

print(myDict)

{200: 'excellent', 50: 'fair'}
{'name': 'Mahesh', 50: ['sun', 'Moon']}
{5: 'abcd', 8: 'ab'}

# Dict Access

In [108]:
myDict = {'name': 'Mahesh', 'marks': 92, 'hobby': 'guitar'}

print(myDict['name'])                                       # Pass the key to get the value

Mahesh

In [112]:
print(myDict.get('hobby'))                                 # Alternately use get(key) to access the value

None

In [115]:
print(myDict.get('score'))                         # Gives None using get method if key not present

None

# Add or Modify  Elements in a Dictionary

In [120]:
myDict = {'name': 'Mahesh', 'marks': 82, 'Cricket': 'guitar'}

myDict['name'] = 'Mahesh'                                      # Update the value in the key 'name' 
 
print(myDict)

{'name': 'Mahesh', 'marks': 82, 'Cricket': 'guitar'}

In [121]:
myDict['division'] = 'A'                                       # Add new key-value pair

print(myDict)

{'name': 'Mahesh', 'marks': 82, 'Cricket': 'guitar', 'division': 'A'}

# Delete or Remove Element in a Dictionary

In [123]:
myDict = {'name': 'Mahesh', 'marks': 82, 'cricket': 'guitar'}

print(myDict.pop('marks'))                                     # Remove a particular item - pass the key to pop() method

print(myDict)

82
{'name': 'Mahesh', 'cricket': 'guitar'}

In [126]:
keyValDict = {'name': 'Mahesh', 'marks': 82, 'cricket': 'guitar'}

del keyValDict['marks']                                       # Delete particular key

print(keyValDict)

{'name': 'Mahesh', 'cricket': 'guitar'}

In [127]:
keyValDict.clear()                                           # Remove all items

print(keyValDict)

{}

# Dictionary Methods

In [133]:
keyValDict = {'name': 'Mahesh', 'marks': 82, 'cricket': 'guitar'}

myDict = keyValDict.copy()                                    # copy()

print(myDict)

{'name': 'Mahesh', 'marks': 82, 'cricket': 'guitar'}

In [137]:
# fromkeys[seq[, v]] -> Return a new dictionary with keys from seq and value equal to v (defaults to None).

fruits = {}.fromkeys(['mango','orange','apple'],5)

print(fruits)

{'mango': 5, 'orange': 5, 'apple': 5}

In [138]:
varDict = {1:4, 3:9, 14:16, 5:5}

print(varDict.items()) #return a new view of the dictionary items (key, value)

dict_items([(1, 4), (3, 9), (14, 16), (5, 5)])

In [141]:
fruits = {'mango': 4, 'orange': 22, 'apple': 11}

print(fruits.keys())                                       # returns the dictionary keys

print(fruits.values())                                     # returns the dictionary values

dict_keys(['mango', 'orange', 'apple'])
dict_values([4, 22, 11])

In [144]:
dict = {}

print(dir(dict))                                          # Get list of all available methods and attributes dictionary

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# Comprehension in Dictionary

In [146]:
fruits = {'mango': 4, 'orange': 22, 'apple': 11}

for fruit in fruits.items():                             # Same as list comprehensions but here its for dictionaries
   
 print(fruit)

('mango', 4)
('orange', 22)
('apple', 11)

In [148]:
fruits = {'mango': 4, 'orange': 22, 'apple': 11}

fruitsDict = {k:v for k, v in fruits.items() if v%2 == 0} # Creating a new dictionary with only pairs where  even

print(fruitsDict)

{'mango': 4, 'orange': 22}

In [150]:
fruits = {'mango': 4, 'orange': 22, 'apple': 11} 

fruitsDict = {k + '_royal':v * 12 for k, v in fruits.items() if v%2 == 0} # We can also perform operations 

print(fruitsDict)

print(fruits)

{'mango_royal': 48, 'orange_royal': 264}
{'mango': 4, 'orange': 22, 'apple': 11}