# 6. Variables

A variable is an alias given to a location in memory that is used to store some data (value).

Each data point stored in the memory is given unique name to differentiate between different memory locations (and thus data points). <br/><b>The rules for writing a variable name is same as the rules for writing identifiers in Python.</b>

We don't need to declare a variable before using it. In Python, we simply assign a value to a variable and it will exist. We don't even have to declare the <b>type</b> of the variable. This is handled internally according to the type of value we assign to the variable.
<br/>
<br/>

In [3]:
intergerNumber = 4

decimalNumber = 11.4

stringVariable = "StringValue"

print(intergerNumber, decimalNumber, stringVariable)

4 11.4 StringValue

# Multiple assignements
Use comma to seperate the variables and their corresponding values

In [4]:
intergerNumber, decimalNumber, stringVariable = 5, 11.2, "StringValue"

print(intergerNumber, decimalNumber, stringVariable)

5 11.2 StringValue

# To initialize multiple variables with same value use 1 assignment

In [7]:
variable1 = variable2 = variable3 = "All variable assigned same value"

print(variable1,variable2,variable3)

All variable assigned same value All variable assigned same value All variable assigned same value

### Storage Locations

In [12]:
print(id(intergerNumber))                # print address of variable: 'intergerNumber'

1949852896

In [15]:
print(id(decimalNumber))                 #print address id variable: 'decaimalNumbar'

93873872

<b>interger1</b> and <b>interger2</b> points to same memory location in the below example

In [5]:
interger1 = 10

interger2 = 20

print(id(interger1))

print(id(interger2))

1913021744
1913021904

# 7. Data Types

# Python Numbers

<b>Integers, floating point numbers and complex numbers</b>
falls under Python numbers category. They are defined as int, float and complex class in Python.

We can use the <b>type()</b> function to know which class a variable or a value belongs to <br/> and the <b>isinstance()</b> function to check if an object belongs to a particular class.

In [6]:
data1= 11  #interger data type

print(data1,"is of type",type(data1))

11 is of type <class 'int'>

In [23]:
data2 = 11.5  #float data type

print(data2,"is of type", type(data2))

11.5 is of type <class 'float'>

In [24]:
data3 = 200 + 10j  #Data type is changed to complex number

print(data3,"is complex number?", isinstance(data3,complex))

(200+10j) is complex number? True

### Boolean

Boolean represents True or False values

In [7]:
booleanVariable = True                    # 'booleanVariable' is a boolean type & True is a keyword

print(type(booleanVariable))

<class 'bool'>

### Python Strings

In [8]:
stringVariable = "This is a string variable"

print('stringVariable is:', stringVariable)

print('First character in stringVariable is:', stringVariable[0])

stringVariable is: This is a string variable
First character in stringVariable is: T

In [32]:
# Slicing of string variable

print(stringVariable[0:7])

print(stringVariable[:7])

print(stringVariable[5:7])

This is
This is
is

### Python List

List is an <u>ordered sequence</u> of items. It is one of the most used datatype in Python and is very flexible. 

All the items in a list do not need to be of the same type.

Declaring a list is pretty straight forward. Items separated by commas are enclosed within square brackets <b>'[ ]'</b>.

In [35]:
myList = [2,1.1,"ThirdElement",22,44,'More values']

print(myList)

[2, 1.1, 'ThirdElement', 22, 44, 'More values']

In [37]:
print(myList[2])                      #print an element based on its index. index starts from 0

ThirdElement

# Lists are mutable, which means, value of elements of a list can be changed.

In [39]:
myList[2] = "ElementThree"

print(myList)

[2, 1.1, 'ElementThree', 22, 44, 'More values']

In [40]:
myList.remove(1.1)                    #Remove items from a particular index

print(myList)

[2, 'ElementThree', 22, 44, 'More values']

In [41]:
myList.pop(2)                         #Remove items from a particular index

print(myList)

[2, 'ElementThree', 44, 'More values']

In [42]:
myList.append(2.2)                    #Add items at the last index

print(myList)

[2, 'ElementThree', 44, 'More values', 2.2]

### Python Tuple

Tuple is an <u>ordered sequence</u> of items same as list. <br/>
The only difference is that tuples are <u>immutable</u>. <b>Tuples once created cannot be modified</b>.

Tuples are used to write-protect data and are usually faster than list as it cannot change dynamically.

It is defined within parentheses <b>()</b> where items are separated by commas.

In [46]:
mytuple = (40,50,60,"text")

In [48]:
print(mytuple[2])                      #Read elements by their corresponding index values.

60

### Python Set

Set is an <u>unordered collection</u> of unique items. <br/>
Set is defined by values separated by comma inside curly braces <b>{ }</b>. <br/>

In [50]:
myset = {40,50,60,70,80}

print(myset)

{70, 40, 80, 50, 60}

In [51]:
myset = {40,50,50,60,60}              #Only unique values considered, duplicates removed automatically

print(myset)

{40, 50, 60}

In [52]:
print(type(myset))

<class 'set'>

### Python Dictionary

<b>Dictionary</b> is an <u>unordered collection</u> of <b>key-value</b> pairs.

It is generally used when we have a huge amount of data.<br/> 
Dictionaries are optimized for retrieving data. <br/>
We must know the <b>key</b> to retrieve the <b>value</b>.

In Python, dictionaries are defined within curly braces <b>{}</b> <br/>
with each item being a pair in the form <b>key:value</b>. <br/>
<b>Key and value</b> can be of <u>any type</u>.

In [54]:
myDictionary = {'key1':"value1",'key2':"value2",'key3':"value3",}

print(myDictionary['key2'])

value2

# Update  a value in the dictionary

In [56]:
myDictionary['key2'] = "value2.2"

print(myDictionary)

{'key1': 'value1', 'key2': 'value2.2', 'key3': 'value3'}

# Add  a new key & value

In [58]:
myDictionary["key4"] = "value4"

print(myDictionary)

{'key1': 'value1', 'key2': 'value2.2', 'key3': 'value3', 'key4': 'value4'}

# Delete  Dictionary Elements

In [60]:
del myDictionary["key2"]

print(myDictionary)

{'key1': 'value1', 'key3': 'value3', 'key4': 'value4'}

# 8. Conversion between Datatypes

To convert between different data types use different type conversion functions like <b>int(), float(), str()</b>etc.

In [64]:
int(4.4)

4

In [65]:
float(4)

4.0

# Conversion to and from string must contain compatible values.

In [70]:
str(4)

'4'

In [71]:
str(4.4)

'4.4'

In [72]:
int('4')

4

In [75]:
float('4.4')

4.4

In [76]:
float('4')

4.0

In [77]:
mynewString = 'text1' + str(20) + 'text2'

print(mynewString)

text120text2

Convert,<br/>
1> list to set<br/>
2> String to list

In [9]:
#1> list to set

myList1  = ['a','b','c','c']

print(myList1)

(type(myList1))

mySet1 = set(myList1)

print(type(mySet1))

print(mySet1)

['a', 'b', 'c', 'c']
<class 'set'>
{'b', 'c', 'a'}

In [10]:
#2> String to list

myString1 = 'This is string to list'

print(type(myString1))

strToList  = list(myString1)

print(type(strToList))

print(strToList)

<class 'str'>
<class 'list'>
['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 's', 't', 'r', 'i', 'n', 'g', ' ', 't', 'o', ' ', 'l', 'i', 's', 't']

# 9. Python Output

to see the output on the screen(standard output device), use the <b>print()</b> function

In [82]:
print("The output will be displyed on the screen")

The output will be displyed on the screen

In [12]:
myInt = 500

print("The value of myInt is",myInt)

print("The value of myInt is" + str(myInt))           #if you wish to print the number in the string form

The value of myInt is 500
The value of myInt is500